@model KURSOVA.Models.SalaryPayment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Деталі</h1>

<div>
    <h4>SalaryPayment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartPeriodDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartPeriodDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndPeriodDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndPeriodDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveriesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveriesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentForDeliveries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentForDeliveries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Premium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Premium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FineAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FineAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentAmt)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courier.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SalaryPaymentId">Редагувати</a> |
    <a asp-action="Index">Назад</a>
</div>
