@model IEnumerable<KURSOVA.Models.Courier>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Кур'єри</h1>

<p>
    <button class="btn-secondary" onclick="location.href='@Url.Action("Create")'" style="padding:10px">
        Створити
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourierType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourierType.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourierId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.CourierId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.CourierId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
